// Couleurs principales
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-dark: #353535;
$color-light: #f8f8f8;

// Typo
$font-main: "Roboto", sans-serif;
$font-logo: "Shrikhand", cursive;